html {
  background-color: #40464a;
}

.main {
  flex: 1 0 auto;
}

.content {
  color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.phone-select {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.phone-overlay {
  z-index: 1;
  display:flex;
  justify-content: center;
  align-items: center;
}

.phone-overlay > img{
  z-index: 2;
  pointer-events: none;
  width: 403px;
  height: auto;
  position: absolute;
  vertical-align: bottom;
}

.map-footer {
  background: #101010;
  text-align: center;
  width: 100%;
  color: #ffffff;
  position:fixed;
  bottom:0;
  left:0;
  padding: 10px;
  z-index: 101;
}

/*
Hides google maps bottom text
*/
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}

map > div {
  border-radius: 20px;
}
