html {
  background-color: #272727;
}

.main {
  flex: 1 0 auto;
}

.content {
  color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.phone-select {
  display: flex;
  justify-content: center;
}

.phone-overlay {
  z-index: 1;
  text-align: center;
}

.phone-overlay > img{
  width: 403px;
  height: auto;
}
